@model IEnumerable<StudentsSystem.Data.Models.Student>

@{
    ViewBag.Title = "Index";
}


<br />

<table class="table table-bordred table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Birthdate</th>
            <th scope="col">Governorate</th>
            <th scope="col">Neighborhood</th>
            <th scope="col">Field</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var student in Model)
        {
        <tr>
            <td>@Html.DisplayFor(std => student.Name)</td>
            <td>@Html.DisplayFor(std => student.BirthDate)</td>
            <td>@Html.DisplayFor(std => student.Governorate.Name)</td>
            <td>@Html.DisplayFor(std => student.Neighborhood.Name)</td>
            <td>@Html.DisplayFor(std => student.Field.Name)</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = student.ID }) |
                @Html.ActionLink("Details", "Details", new { id = student.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = student.ID })
            </td>
        </tr>
        }
    </tbody>
</table>


