@model IEnumerable<StudentsSystem.Data.Models.Student>

@{
    ViewBag.Title = "Index";
}

<table class="table table-bordred table-striped mt-5">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Birthdate</th>
            <th scope="col">Governorate</th>
            <th scope="col">Neighborhood</th>
            <th scope="col">Field</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var student in Model)
        {
            <tr>
                <td>@Html.DisplayFor(std => student.Name)</td>
                <td>@Html.DisplayFor(std => student.BirthDate)</td>
                <td>@Html.DisplayFor(std => student.Governorate.Name)</td>
                <td>@Html.DisplayFor(std => student.Neighborhood.Name)</td>
                <td>@Html.DisplayFor(std => student.Field.Name)</td>
                <td>
                    @Html.ActionLink("Edit", "EditStudent", new { id = student.ID }, new { @calss="btn btn-warning mr-2" })
                    @Html.ActionLink("Delete", "DeleteStudent", new { id = student.ID }, new { @calss = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.ActionLink("Add Student", "AddStudent", "Students", null, new { @class = "btn btn-primary" })

